/* Page-Wide */
body {
  background-color: #DDDFD4;
}
#title {
  font-family:serif;
  font-size: 24pt;
  font-weight:800;
  font-style: normal;
  color:rgb(191, 0, 0);
}
#h1, #h2, {
  font-family: 'serif', Verdana;
  font-size:16pt;
  font-weight:500;
  font-style: oblique;
  color:gold;
}
/*Paragraph Content*/
.content p:first-of-type:first-letter {
  font-family:sans-serif, cursive;
  font-size: 12pt;
  font-weight:700;
  letter-spacing:normal;
  color: rgb(191,0,0);
}
p {
  font-family:'sans-serif' Verdana;
  font-size:12pt;
  font-weight:normal;
  font-style: normal;
  word-spacing:normal;
}
a:hover {
  color: #1CCDCA;
  font-style: italic;
}
