/*CSS document */
body {
  background-color: black;
  font-family: arial;
  text-align; center;
}

/*Picture Windows */
.square {
  width: 50%;
  height:50%;
}
#street{
  position: absolute;
  left:0;
}
#orange{
  position:absolute;
  right:0;
}
/*Sticker*/
img#sticker {
  height: 100px;
  position: absolute;
  top: -20px;
  right: -50px;
}
/*Text*/
.text-container {
  background-color: #DDDFD4;
  font-family:Arial;
  width: 400px;
  position: absolute;
}
