/*Add my styles here*/
p {
  background-color:rgb(59, 255, 0);
  color: turquoise;
}
body {
  font-family: Arial;
  background-color:rgb(0, 242, 255);
  opacity: 0.5
}
header, footer {
  background-color:rgb(178, 0, 250);
  padding: 35px;
  font-family: Arial;
  color: rgb(255, 0, 212);
}
